node_modules/
dist/
.env
*.env.local
.turbo/
**/server.pid
**/server-stopped

logs/
.mcp.json
designs/apps-mgmt/apps-mgmt-create-app.zip
designs/apps-mgmt/apps-mgmt-edit-app.zip
designs/apps-mgmt/apps-mgmt-list-view-metrics.zip
designs/apps-mgmt/apps-mgmt-list-view.zip
designs/apps-mgmt/apps-mgmt-preview_en.zip
designs/apps-mgmt/apps-mgmt-preview_fr.zip
